@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

.container{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:20px;
  padding-bottom: 60px;
}





body {
  background-image: url("images/trainer.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}



/* 


/**end*/

.container {
  background-color: rgba(220, 20, 60, 0);
  color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 10px 10px 10px 10px; 
  /* top left, top right, bottom left, bottom right; */
}

.container h1 {
  margin: 0;
  font-size: 24px;
}

.container p {
  margin: 5px 0;
  color: rgb(255, 255, 255);
}

.container .action-btns {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
  text-align: center;
}

.container .action-btns li {
  display: inline-block;
  margin-right: 10px;
}

.container .action-btns li a {
  color: #fff;
  text-decoration: none;
}

/* .content {
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
} */

.content h3 {
  font-size: 30px;
  color: #ffffff;
}

.content h3 span {
  background: crimson;
  color: #fff;
  border-radius: 5px;
  padding: 0 15px;
}

.content h1 {
  font-size: 50px;
  color: #ffffff;
}

.content h1 span {
  color: crimson;
}

.content p {
  font-size: 25px;
  margin-bottom: 20px;
}

.content .btn {
  display: inline-block;
  padding: 10px 30px;
  font-size: 20px;
  background: #333;
  color: #fff;
  margin: 0 5px;
  text-transform: capitalize;
}

.content .btn:hover {
  background: rgb(220, 20, 60);
}

/**responsible for get members and assign members*/
.button-container {
  margin-top: 2cm;
  text-align: center;
}

.action-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  background-color: crimson;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}

.action-btn:hover {
  background-color: darkred;
}
/*end of block*/
