@use 'general_user_style' as * with ($user_accent: rgb(147, 160, 237), $dark_user_accent:  rgb(61, 82, 223));
$background_color: rgb(61, 61, 61);

* {
  box-sizing: border-box;
  border: none;
}

body {
  background-color: $background_color;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  height: 100%;
  width: 100%;
  padding: 10px;

  form {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .text-input-holder{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 20px;
    }

    span{
      color: $user_accent;
      text-align: left;
    }

    .btn-holder{
      display: flex;
      flex-direction: row;
      padding: 10px;
    }

    .title {
      font-size: 20px;
      color: white;
      background-color: rgba($user_accent,0.6);
      padding: 15px;
      border-radius: 15px;
      margin-bottom: 10px;
      font-weight: bold;
      box-shadow: 1px 1px 3px rgba($color: #000000, $alpha: 0.5);
    }

    .input-text {
      width: 100%;
      padding: 10px 15px;
      font-size: 17px;
      margin: 8px 0;
      background: white;
      border-radius: 5px;
    }

    select option {
      background: $background_color;
    }
    
    .btn-holder{
      border-top: 1px solid rgba($user_accent,0.5);
    }

    .btn {
      padding: 10px 15px;
      border-radius: 10px;
      margin-top: 10px;
      margin-left: 20px;
      margin-right: 20px;
      width: 100%;
      border: 1px solid rgba($user_accent,0.5);

      background: $dark_user_accent;
      color: white;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        background: $user_accent;
        color: $dark_user_accent;
      }
    }

    p {
      margin-top: 10px;
      font-size: 20px;
      color: $background_color;

      a {
        color: $user_accent;
      }
    }

    .error-msg {
      margin: 10px 0;
      display: block;
      background: $user_accent;
      color: $background_color;
      border-radius: 5px;
      font-size: 20px;
      padding: 10px;
    }
  }
}
